head
  link#pageMode(href='/css/main.css' rel='stylesheet' type='text/css')
  script(sdync='' defer='' src='/js/main.js')
include navbar.pug
main
  h1 Denied
  p Your info was not recieved. Make sure you picked a date and please try again!
