doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  script(src='/js/main.js')
  title Abyssinia Market
  link#pageMode(rel="stylesheet" href="/css/main.css" type="text/css")
include navbar.pug
main
  #sales-banner(style='display: none;')
    p#sales-message
  h1 Abyssinia Market
  p.motto Ethiopian Goods Market
  img(alt='Injera and a meat dish named "Tibs"' src='/images/injeraness.jpg')
  .text-box
    p
      strong Welcome to Abyssinia Market!
    p
      strong Abyssinia Market is 
      em committed
      |  to offering an unparalleled experience, ensuring that every flicker of our candles tells a story, evokes a memory, or transports you to a world of dreams. We prioritize sustainability, utilizing only the finest natural ingredients and recyclable materials, allowing you to indulge guilt-free. Join us on this enchanting journey, and discover the endless possibilities that await with each glow. Whether you&rsquo;re looking to add a touch of charm to your daily life or seeking a truly unique gift, Luminous Illusions is your gateway to a world where light and fantasy become one.
