doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  script(src='/js/main.js')
  title Luminous Illusions
  link#pageMode(rel="stylesheet" href="/css/main.css" type="text/css")
include navbar.pug
main
  #sales-banner(style='display: none;')
    p#sales-message
  h1 Luminous Illusions
  p.motto &quot;Luminate&quot;
  img(alt='Two hands holding a candle in a dark room' src='/images/candle.jpeg')
  .text-box
    p
      strong Welcome to Luminous Illusions!
      |                 Step into a world where the flicker of light meets your wildest imagination, unveiling a collection of candles that are anything but ordinary. Our handcrafted, eco-friendly candles not only illuminate your spaces but also bring fantasy to life, adding an enchanting touch to every moment. Crafted with passion and precision, each candle is a masterpiece, promising a blend of tantalizing aromas, mesmerizing colors, and a sprinkle of magic. Let your senses be captivated by our unique creations, ranging from the whimsically playful to the elegantly sophisticated, ensuring there&apos;s a perfect illusion for every occasion.
    p
      strong Ignite Your Fantasy with Us!
      |                 Luminous Illusions is 
      em committed
      |  to offering an unparalleled experience, ensuring that every flicker of our candles tells a story, evokes a memory, or transports you to a world of dreams. We prioritize sustainability, utilizing only the finest natural ingredients and recyclable materials, allowing you to indulge guilt-free. Join us on this enchanting journey, and discover the endless possibilities that await with each glow. Whether you&rsquo;re looking to add a touch of charm to your daily life or seeking a truly unique gift, Luminous Illusions is your gateway to a world where light and fantasy become one.
    h3 Products and Services
    ol
      li Enchanted Aroma Candles
      li Customizable Illusion Candles
      li Themed Fantasy Sets
      li Candle Subscription Boxes
      li Eco-Friendly Luminary Collections
