nav
      ul
        li
          a(href='/main') Main Page
        li
          a(href='/testimonies') Testimonials
        li
          a(href='/contact') Contact Us!
        li
          a(href='/admin/contactlog') Contact Log
        li
          button#themeToggleBtn Dark Mode
