doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  script(src='/js/main.js')
  title Testimonials
  link#pageMode(href='/css/main.css' rel='stylesheet' type='text/css')
include navbar.pug
main
  h1 Testimonials!
  iframe(allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='' height='315' src='https://www.youtube.com/embed/X5CxuY19Dxk?si=622iD7IOOmctW83G' title='YouTube video player' width='560')
  div
    .review
      p.review-body
        | I am absolutely enchanted by the whimsical creations of Luminous Illusions! The customizable candles were a hit at my event, and the scents are just divine.
      p.reviewer-name - Alex Johnson
    .review
      p.review-body
        | The eco-friendly collection is a game-changer! Beautiful, sustainable, and the perfect addition to my home decor. I&apos;m a fan for life!
      p.reviewer-name - Taylor Smith
    .review
      p.review-body
        | Every month, I look forward to the candle subscription box. It&rsquo;s like receiving a box of joy and surprises that lights up my entire home!
      p.reviewer-name - Jordan Lee
    .review
      p.review-body
        | Luminous Illusions&rsquo; Themed Fantasy Sets are pure magic! They&rsquo;ve added a touch of whimsy to my space, and the quality is exceptional. Truly a delightful experience!
      p.reviewer-name - Riley Matthews
    .review
      p.review-body
        | The Enchanted Aroma Candles are a sensory delight! Each scent is unique and captivating, creating an ambiance that is both relaxing and invigorating. Highly recommended!
      p.reviewer-name - Morgan Harper
    .review
      p.review-body
        | These candles fill my dorm room with a nice, illegal ambiance. Would recommend!!! My favorite scent is Cardoroy Jeans
      p.reviewer-name - Adam Hahn
